# Based on:
#   * https://github.com/BerriAI/litellm/blob/main/docker-compose.yml
#   * https://github.com/open-webui/open-webui/blob/main/docker-compose.yaml

services:
  litellm:
    image: ghcr.io/berriai/litellm:main-latest  # TODO: change back to stable?
    container_name: litellm
    ports:
      - "4000:4000"
    volumes:
      - ./config.yaml:/app/config.yaml
    command:
      - "--config=/app/config.yaml"
    environment:
      DATABASE_URL: "postgresql://llmproxy:dbpassword9090@db:5432/litellm"
      STORE_MODEL_IN_DB: "True" # allows adding models to proxy via UI
      LITELLM_MASTER_KEY: "sk-1234"
      LITELLM_SALT_KEY: "sk-XXXXXXXX"
    depends_on:
      - db
    extra_hosts:
      - host.docker.internal:host-gateway
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 http://localhost:4000/health/liveliness || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  db:
    image: postgres:16
    container_name: litellm_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: litellm
      POSTGRES_USER: llmproxy
      POSTGRES_PASSWORD: dbpassword9090
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d litellm -U llmproxy"]
      interval: 1s
      timeout: 5s
      retries: 10

  ollama:
    image: ollama/ollama:${OLLAMA_DOCKER_TAG-latest}
    container_name: ollama
    restart: unless-stopped
    tty: true
    pull_policy: always
    volumes:
      - ollama:/root/.ollama

  open-webui:
    image: ghcr.io/open-webui/open-webui:${WEBUI_DOCKER_TAG-main}
    container_name: open-webui
    restart: unless-stopped
    ports:
      - ${OPEN_WEBUI_PORT-3000}:8080
    volumes:
      - open-webui:/app/backend/data
    environment:
      OLLAMA_BASE_URL: "http://ollama:11434"
      OPENAI_API_BASE_URL: "http://litellm:4000"
      WEBUI_SECRET_KEY: ""
      ENABLE_FOLLOW_UP_GENERATION: "False"
      ENABLE_TAGS_GENERATION: "False"
      ENABLE_FORWARD_USER_INFO_HEADERS: "True"
    depends_on:
      - ollama
    extra_hosts:
      - host.docker.internal:host-gateway

volumes:
  postgres_data:
    name: litellm_postgres_data
  ollama:
  open-webui:
